
  #all-products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
  }

  .card {
    display: flex;
    flex-direction: column;
    align-items: center;
     justify-content: space-between;
  }

  .card img {
    width: 200px;
    height: 200px;   
    object-fit: contain;
    padding: 10px;
  }

  .card-title{
    overflow: hidden;
  }


/* .card-body {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
} */

/* .card-body .btn {
  margin-top: auto; 
  width: 100px;
  margin-left: 50px;
} */
